<h1>Here are your cocktails:</h1>
(notice that "cocktail" is a word composed of two penises)

<p><%= link_to "Create a new cocktail", new_cocktail_path %></p>
<% @cocktail.each do |cocktail| %>
<ul>
  <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
</ul>
<% end %>
  <%  %>
  <%  %>
<%  %>
