

<p><%= link_to "Create a new cocktail", new_cocktail_path %></p>
<% @cocktail.each do |cocktail| %>

<% if cocktail.photo %>
<div class="container">
      <div class="card cocktail_image"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
               url('<%= cl_image_path cocktail.photo.path, height: 100, width: 400, crop: :fill %>')">
          <div class="card-description">
            <h2 class = cocktail_name >
              <%= cocktail.name %>
            </h2>
          </div>
        <a class="card-link" href="#" ></a>
      </div>
</div>
<% else %>
<%= link_to cocktail.name, cocktail_path(cocktail) %>
<% end %>



<% end %>
